{
  "extends": ["standard", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react", "import", "jsx-a11y"],
  "rules": {
    "brace-style": [2, "stroustrup"],
    "comma-dangle": [2, "only-multiline"],
    "react/prop-types": [2, { "ignore": ["className", "extraClasses", "childClasses", "childrenStyles"] }],
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
