- var baseComponentLinks = [['Button', 'FormattedTime', 'Slider']]

doctype html
html(lang="en")
  head
    title react-player-controls
    link(rel="stylesheet" href="build/styles.css")
    link(rel="shortcut icon" href="img/favicon.png")

  body
    .site-container
      header.site-header
        h1.site-title
          img(src="img/logo-icon.svg" width="48" height="48")
          span.site-title-text
            | react-player-controls
            small Demos

        nav.external-nav
          ul
            li
              a(href="https://github.com/reactify/react-player-controls") Fork on GitHub

      aside.site-sidebar
        h5 Base components
        nav.site-nav
          each componentGroup in baseComponentLinks
            ul
              each component in componentGroup
                li
                  a(href='#' + component)
                    code
                      | &lt;
                      = component
                      | &nbsp;/&gt;

      main.site-content

        each componentGroup in baseComponentLinks
          h2.component-group-title Base components

          .component-group
            each component in componentGroup
              .component-content
                div(id=component)
                h2.component-title
                  code
                    | &lt;
                    = component
                    | &nbsp;/&gt;
                .component-demo(data-component=component)

      footer.site-footer
        p
          | Made by&nbsp;
          a(href="https://github.com/alexanderwallin") @alexanderwallin
          | &nbsp;&middot;&nbsp;
          a(href="http://alexanderwallin.com") alexanderwallin.com

  script(src="build/bundle.js")
