@import "/assets/prism.css";

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700";

:root {
  --black: #3D463F;
  --gray: #878C88;
  --lightgray: #d3d3d3;
  --white: #fefefe;
  --blue: #0E52CE;
  --green: #72D687;

  --font: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monospace: Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: var(--black);
  font-family: var(--font);
}

/*
 * Layout
 */

.site-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.site-header {
  display: flex;
  flex-flow: wrap row;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}

.site-sidebar {
  width: 25%;
}

.site-content {
  width: 75%;
}

/*
 * Typography
 */

.site-title {
  flex: 2;
  margin: 0;
  font-size: 1.5em;
}

.site-title img {
  vertical-align: middle;
  margin: -3px 10px 0 0;
}

.site-title .badge {
  display: inline-block;
  margin-left: 10px;
}

.site-title-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.site-title-text small {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: var(--gray);
  line-height: 1.44;
}

.external-nav {
  flex: 1;
  line-height: 48px;
  text-align: right;
}

.external-nav a {
  color: var(--gray);
}

.external-nav a&:hover {
  color: var(--black);
}

h5 {
  // margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  color: var(--gray);
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a&:hover {
  color: saturate(lighten(var(--blue), 30%), 20%);
}

pre,
code {
  font-family: var(--monospace);
}

/*
 * Sidebar / navigation
 */

nav ul,
nav li
menu ul,
menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-sidebar {

}

.site-nav {
  line-height: 2;
  font-size: 12px;
}

.site-nav ul {
  margin-bottom: 1em;
}

.site-nav ul a {
  display: inline-block;
}

/*
 * Page content
 */

.component-group {
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.component-group-title {
  margin: 16px 0 40px;
}

.component-content {
  margin-bottom: 40px;
}

.component-title {
  font-size: 1.125em;
}

.ComponentDemo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--white);
  border: 1px solid #eee;
  border-radius: 2px;
}

.ComponentDemo .ComponentDemo-code,
.ComponentDemo .ComponentDemo-settings,
.ComponentDemo .ComponentDemo-results {
  position: relative;
  padding: 40px 16px 24px;
  font-size: 12px;
}

.ComponentDemo .ComponentDemo-code::before,
.ComponentDemo .ComponentDemo-settings::before,
.ComponentDemo .ComponentDemo-results::before {
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: var(--font);
  font-size: 10px;
  color: var(--gray);
  letter-spacing: 2px;
  line-height: 14px;
  text-transform: uppercase;
}

.ComponentDemo .ComponentDemo-code {
  width: 100%;
  margin: 0;
  padding-top: 40px;
  background: var(--white);
  border-bottom: 1px solid #eee;
  line-height: 1.6;
}

.ComponentDemo .ComponentDemo-code::before {
  content: 'JS';
}

.ComponentDemo-settings {
  flex: 1;
  border-right: 1px solid #eee;
}

.ComponentDemo-settings::before {
  content: 'State Settings';
}

.ComponentDemo-settings label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  line-height: 24px;
}

.ComponentDemo-settings code {
  flex-grow: 1;
}

.ComponentDemo-settings code + input,
.ComponentDemo-settings code + select {
  margin-left: 10px;
  padding: 4px;
  font-family: var(--monospace);
}

.ComponentDemo-results {
  flex: 1;
}

.ComponentDemo-results::before {
  content: 'Results';
}


/*
 * Footer
 */

.site-footer {
  width: 100%;
  margin-top: 60px;
  padding: 20px 0 0;
  border-top: 1px solid #eee;
  font-size: 12px;
  text-align: center;
  color: var(--gray);
}
