@import "../../node_modules/prismjs/themes/prism";

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700";
@import "grid";

$black: #3D463F;
$gray: #878C88;
$lightgray: #d3d3d3;
$white: #fefefe;
$blue: #0E52CE;
$green: #72D687;

$font: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: #fafafa;
  color: $black;
  font-family: $font;
}

//
// Layout
//

.site-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.site-header {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}

.site-sidebar {
  flex: 1;
}

.site-content {
  flex: 2;
}

//
// Typography
//

.site-title {
  flex: 2;
  margin: 0;
  font-size: 1.5em;

  img {
    vertical-align: middle;
    margin: -3px 10px 0 0;
  }

  .badge {
    display: inline-block;
    margin-left: 10px;
  }
}

.site-title-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;

  small {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: $gray;
    line-height: 1.44;
  }
}

.external-nav {
  flex: 1;
  line-height: 48px;
  text-align: right;

  a {
    color: $gray;

    &:hover {
      color: $black;
    }
  }
}

h5 {
  // margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: saturate(lighten($blue, 30%), 20%);
  }
}

pre,
code {
  font-family: Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

//
// Sidebar / navigation
//

nav,
menu {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.site-sidebar {

}

.site-nav {
  line-height: 2;
  font-size: 12px;

  ul {
    margin-bottom: 1em;
  }

  a {
    display: inline-block;
  }
}

//
// Page content
//

.component-group {
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.component-content {
  margin-bottom: 40px;
}

.component-title {
  font-size: 1.25em;
}

.ComponentDemo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: $white;
  border: 1px solid #eee;
  border-radius: 2px;

  &-code,
  &-settings,
  &-results {
    position: relative;
    padding: 40px 16px 24px;
    font-size: 12px;

    &::before {
      position: absolute;
      top: 16px;
      left: 16px;
      font-family: $font;
      font-size: 10px;
      color: $gray;
      letter-spacing: 2px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }

  .ComponentDemo-code {
    width: 100%;
    margin: 0;
    padding-top: 40px;
    background: $white;
    border-bottom: 1px solid #eee;
    line-height: 1.6;

    &::before {
      content: 'JS';
    }
  }

  &-settings {
    flex: 1;
    border-right: 1px solid #eee;

    &::before {
      content: 'State Settings';
    }

    label {
      display: block;
      margin-bottom: 4px;
    }

    code + input,
    code + select {
      margin-left: 10px;
    }
  }

  &-results {
    flex: 1;

    &::before {
      content: 'Results';
    }
  }
}


//
// Footer
//

.site-footer {
  width: 100%;
  margin-top: 60px;
  padding: 20px 0 0;
  border-top: 1px solid #eee;
  font-size: 12px;
  text-align: center;
  color: $gray;
}


@import "controls";
