@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700";
@import "grid";

$black: #3D463F;
$gray: #878C88;
$blue: #0E52CE;

body {
  background-color: #fafafa;
  color: $black;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//
// Layout
//

.site-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.site-header {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}

.site-sidebar {
  flex: 1;
}

.site-content {
  flex: 2;
}

//
// Typography
//

.site-title {
  flex: 2;
  margin: 0;
  font-size: 1.5em;

  img {
    vertical-align: middle;
    margin: -3px 10px 0 0;
  }
}

.site-subtitle {
  display: none;
  color: $gray;
  font-size: 1em;
}

.external-nav {
  flex: 1;
  line-height: 48px;
  text-align: right;

  a {
    color: $gray;

    &:hover {
      color: $black;
    }
  }
}

h5 {
  // margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: saturate(lighten($blue, 30%), 20%);
  }
}

pre,
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

//
// Sidebar / navigation
//

nav,
menu {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.site-sidebar {

}

.site-nav {
  line-height: 2;
  font-size: 12px;

  ul {
    margin-bottom: 1em;
  }

  a {
    display: inline-block;
  }
}

//
// Page content
//

.component-content {
  // margin-bottom: 40px;
}


//
// Footer
//

.site-footer {
  width: 100%;
  margin-top: 60px;
  padding: 20px 0 0;
  border-top: 1px solid #eee;
  font-size: 12px;
  text-align: center;
  color: $gray;
}
